fastapi
uvicorn
python-multipart
streamlit
pandas
openpyxl
pymupdf
python-docx
pydantic
python-dotenv
requests
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu
google-genai